.header__container {
	display: flex;
	justify-content: space-between;
	padding-bottom: 0;
	border-bottom: 1px solid rgba(241, 90, 37, 0.5);
	margin: 2rem 3rem;
	margin-top: 0.4rem;
	margin-bottom: 0rem;
}

.time__container {
	display: flex;
	padding: 1rem;
	padding-left: 2rem;
	color: rgba(255, 255, 255, 0.7);
}

.time__container:hover {
	color: #fff;
}

.time__container span {
	margin: 0 0.5rem;
	/* font-size: 1.2rem; */
	font-weight: thin;
	color: #f15a25;
}

.time__container p {
	margin: 2px;
}

.coffee__logout-button {
	padding: 10px 35px;
	border-radius: 35px;
	background-color: rgba(255, 255, 255, 0.7);
	border: none;
	font-weight: bold;
	margin-bottom: 1rem;
}
.coffee__logout-button:hover {
	background-color: rgba(241, 90, 37, 1);
}
